body {
    margin: 0;
    top: 0;
}

html{scroll-behavior: smooth;}

.container {
    background-color: #0d0ab5;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 10px 10px 10px rgba(39, 38, 38, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    border-radius: 5px;
}

.container img, .enlaces {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container img {
    height: 85px;
    border-radius: 10000px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.enlaces {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-right: 150px;
}

.enlaces a{
    text-decoration: none;
    font-size: 17px;
    transition: all ease 0.3s;
    color: #ffff;
}

.enlaces a:hover{
    color: #f3f3f3;
    font-weight: bold;
    font-size: 20px;
}

.sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    border-radius: 20px;
    visibility:hidden;
    opacity: 0; /* Agrega opacidad para una transici칩n m치s suave */
    transition: visibility 0.3s ease, opacity 0.3s ease; 
    padding: 17px;
}

.menu {
    display: block;
    position: relative;
}

.sub-menu a {
    display: block;
    gap: 10px;
    padding: 12px;
    text-align: left;
    text-decoration: none;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    text-decoration: none;
    transition: all ease 0.5s;
}

.sub-menu a:hover {
    background-color: #000000;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.menu:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.inicio {
    background: linear-gradient(135deg, rgb(10, 4, 173), rgb(4, 4, 159), rgb(2, 2, 84));
    height: 100vh;
    color: white;
    text-align: center;
    align-items:center;
    justify-content: center;
    display: flex;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
}

.inicio h1 {
    font-size: 50px;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
}

.inicio button {
    border: none;
    border-radius: 20px;
    color: black;
    padding: 20px;
    background-color: #e9e9e9;
    transition: all ease 0.5s;
    font-size: 20px;
    box-shadow: 8px 8px 10px rgba(54, 2, 242, 0.5);
}

.inicio button:hover {
    padding: 23px;
    font-weight: bold;
    background-color: #1905b1;
    font-size: 23px;
    color: white;
}

.parte1{margin-top: 100px;}

.nosotros {
    padding-top: 120px;
    box-shadow: 1px 1px 10px rgb(0,0,0,0.5);
    border-radius: 7px;
    display: flex;
}

.empresa {
    white-space: pre-line;
    display: block;
    gap: 20px;
    margin-left: 270px;
}

.nosotros img{
    border-radius: 20px;
    height: 250px;
    margin-top: 70px;
    margin-left: 100px;
}

.servicio {padding-top: 100px;}
.servicio h2 {
    font-size: 40px;
    color: rgb(53, 1, 1);
    text-align: center;
}

.servicio p{
    font-size: 17px;
    text-align: center;
}

.servicios {
    margin-top: 200px;
    display: block;
    flex-direction: column;
    justify-content: center
}

.servicio button{
    background-color: white;
    border-radius: 13px;
    padding: 20px;
    transition: all ease 0.5s;
}
.servicio-1 p{white-space: pre-line;}

.servicio-1 h3 {
    font-size: 35px;
    text-align: center;
    padding-top: 140px;
}

.explication {font-size: 250px;}

.servicio-1 {
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(235, 235, 235, 0.5);
    transition: all ease 0.5s;
    margin-bottom: 50px;
}

.servicio-1:hover{
    background-color: rgb(235, 235, 235);
    box-shadow: 8px 8px 10px rgb(223, 223, 223);
    transform:rotateY(-10);
}

.servicio-1 li{
    font-size: 17px;
    margin-top: 20px;
}

.servicio-1 button {
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.5);
}

.servicio-1, button {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.servicio-1 button:hover {
    background-color:rgb(61, 0, 227);
    font-size: 22px;
    box-shadow: 8px 8px 10px rgb(138, 138, 138);
    font-weight: bold;
    color: white;
}

/*/servicio  */

.servicio-2 {
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(235, 235, 235, 0.5);
    transition: all ease 0.5s;
    margin-bottom: 50px;
}

.servicio-2:hover{
    background-color: rgb(235, 235, 235);
    box-shadow: 8px 8px 10px rgb(223, 223, 223);
    transform:rotateY(-10);
}

.servicio-2 li{
    font-size: 17px;
    margin-top: 20px;
}

.servicio-2 p {white-space: pre-line;}
.servicio-2 h2 {padding-top: 140px;}

.servicio-2 button {
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.5);
}

.servicio-2, button {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.servicio-2 button:hover {
    background-color:rgb(61, 0, 227);
    font-size: 22px;
    box-shadow: 8px 8px 10px rgb(138, 138, 138);
    font-weight: bold;
    color: white;
}

/*/servicio  */

.servicio-3 {
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(235, 235, 235, 0.5);
    transition: all ease 0.5s;
    margin-bottom: 50px;
}

.servicio-3:hover{
    background-color: rgb(235, 235, 235);
    box-shadow: 8px 8px 10px rgb(223, 223, 223);
    transform:rotateY(-10);
}

.servicio-3 p{white-space: pre-line;}

.servicio-3 h2{padding-top: 150px;}

.servicio-3 li{
    font-size: 17px;
    margin-top: 20px;
}

.servicio-3 button {
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.5);
}

.servicio-3, button {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.servicio-3 button:hover {
    background-color:rgb(61, 0, 227);
    font-size: 22px;
    box-shadow: 8px 8px 10px rgb(138, 138, 138);
    font-weight: bold;
    color: white;
}

.form {
    background-color: #1f07ac;
    color: white;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    border-radius: 3px;
}

.form h2{
    font-size: 30px;
    padding-top: 50px;
}

.formulario {
    background-color: rgb(243, 243, 243);
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    border-radius: 20px;
    color: black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

form {
    display: block;
    flex-direction: column;
    gap: 300px;
}

input {
    border-radius: 10px;
    border: none;
    width: 70%;
    transition: all ease 0.5s;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

input:hover{
    box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
    padding: 25px;
    border: none;
}

.formulario label {
    font-size: 23px;
}

.formulario-parte {
    padding-top: 30px;
}

.checkbox {
    position: relative;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer; /* Cursor de clic */
}

.button {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.seccion {
    position: absolute;
    top: 110%; /* Posici칩n relativa al bot칩n */
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 10px;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 10;
}

.seccion div {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    color: black;
    transition: all ease 0.5s;
}

.seccion div:hover {
    background-color: #5500ff;
    border-radius: 10px;
    color: white;
}

.checkbox:hover .seccion {
    display: block;
}

.enviar {
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 17px;
    width: 200px;
    height: 80px;
    text-align: center;
    transition: all ease 0.5s;
    font-size: 18px;
    margin-bottom: 10px;
}

.enviar:hover {
    background-color: #1905b1;
    box-shadow: 8px 8px 15px rgba(0,0,0, 0.5);
    font-size: 19px;
    color: white;
    padding: 30px;
    font-weight: bold;
}
